.App {
  text-align: center;
display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.mainBoxApp{
  display: grid;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(223, 220, 86, 0.877) ;
}

.App>h4{
  padding: 10px;
}